# --------------------
# Data
# --------------------
data/
data/inbox/*
outputs/processed/*
outputs/processed_files.txt
*.csv

# --------------------
# Models
# --------------------
models/
bert_email_sentiment/
bert_results/

# --------------------
# Outputs
# --------------------
outputs/
results/

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# --------------------
# Notebooks
# --------------------
.ipynb_checkpoints/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

