# --------------------
# Data
# --------------------
data/
*.csv

# --------------------
# Models
# --------------------
models/
bert_email_sentiment/
bert_results/

# --------------------
# Outputs
# --------------------
outputs/
results/

# --------------------
# Python
# --------------------
__pycache__/
*.pyc

# --------------------
# Notebooks
# --------------------
.ipynb_checkpoints/

# --------------------
# OS
# --------------------
.DS_Store
